.topfold {
    height: 92vh;
    overflow: hidden;
}

.tf-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 48px;
}

.tf-left h2 {
    font-size: 42px;
}

.tf-btns {
    display: flex;
}
.tf-btn-secondary{
    margin-left: 30px;
}

.tf-states {
    display: flex;
    padding: 48px 0px 0px;
}

.tf-states-info {
    margin-right: 24px;
    flex-direction: column;
}

.tf-states-count {
    font-size: 25px;
    font-weight: 600;
}

.tf-states-label {
    font-size: 14px;
    font-weight: 600;
}

.tf-right {
    display: flex;
    flex: 1;
    position: relative;
    margin-top: 60px;
}

.tf-diamond {
    display: flex;
    flex-wrap: wrap;
    transform: rotate(45deg);
}

.tf-diamond-items {
    height: 180px;
    width: 180px;
    overflow: hidden;
    margin: 5px;
    transform: rotate(-45deg);
    cursor: pointer;
    border: 3px solid var(--white);
    border-radius: 12px;
}

.tf-diamond-items img {
    height: 250px;
    object-fit: contain;
    display: block;
}